<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="ordenes-totales">
                <div class="card-header">
                    <h5 class="card-title">PEDIDOS TOTALES</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{pedidosTotales}}</h3>
             </div>
        </div>
     </div>
  </div>

  <div class="col">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="ordenes-liberadas">
            <div class="card-header">
                <h5 class="card-title">PEDIDOS ENTREGADOS</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{pedidosEntregados}}</h3>
         </div>
    </div>
 </div>
</div>

<div class="col">
    <div class="col-md">
        <div class="card text-center text-white mb-3" id="ordenes-pendientes">
            <div class="card-header">
                <h5 class="card-title">PEDIDOS PENDIENTES</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{pedidosPendientes}}</h3>
         </div>
    </div>
 </div>
</div>

</div>